select {
    -moz-appearance: window;
    -webkit-appearance: none;
    padding-right: 20px;

    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGBAMAAAAI3hL1AAAAMFBMVEUAAAASEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhJiegosAAAAEHRSTlMA7ePXpJ6WhG9BMhxcWyUkfIgA+wAAACpJREFUCNdj8GRgYJjCcHEBA5cMA4ccw8cGBoai3epAQTbjBAYgCGVgAACC1QZOI8dhNwAAAABJRU5ErkJggg==') calc(100% - 10px) center no-repeat;
}