.slider-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
    bottom: 100%;
    margin-bottom: 24px;
    background-color: transparent;
    border: 1px solid $graySuperLight;
    padding: 0;

    &:not(.slick-disabled) {
        cursor: pointer;
        &:hover {
            background-color: $graySuperLight;
        }
    }

    &.slick-disabled{
        &::before {
            border-top: 2px solid $graySuperLight;
            border-right: 2px solid $graySuperLight;
        }
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        left: 50%;
        top: 50%;
        margin-top: -6px;
        margin-left: -9px;
        transition: border-color 300ms;
    }
}

.slider-btn--prev {
    left: 10px;
    &::before {
        transform: rotateZ(-135deg);
        margin-left: -4px;
    }
}

.slider-btn--next {
    right: 10px;

    &::before {
        transform: rotateZ(45deg);
    }
}