.thumbnails {
    position: absolute;
    left:0;
    top:0;
    width: 16.66%;
    padding-left:5px;
    padding-right:10px;
    
    @include breakpoint(small){
        display: none;
    }
}

.thumbnails__video-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-transform: uppercase;
    font-weight:bold;
    img{
        margin-bottom:5px;
        margin-left:5px;
    }

}

.thumbnails__item {
    opacity: 0.5;
    max-width: 100px;
    transition: opacity 300ms;
    cursor: pointer;

    &:last-child{
        opacity: 1;
    }

    & + .thumbnails__item {
        margin-top: 10px;
    }

    &:hover {
        opacity: 1;
    }
}

.thumbnails__video {
    display: block;
    position: relative;
    border: 2px solid $ribbon-color;
    padding-top: 125%;
    color: $ribbon-color;
    text-align: center;
}

.thumbnails__item--active {
    opacity: 1;
}

.thumbnails__img {
    padding-top: 125%;
    background-size: cover;
    background-position: 50% 50%;
}
