.about {
    padding-top: 90px;

    @include breakpoint(small) {
        padding-top: 30px;
    }

    @include breakpoint(extra-small) {
        padding-top: 20px;
    }
}

.about__title {
    margin-bottom: 40px;

    @include breakpoint(small) {
        text-align: center;
    }

    @include breakpoint(extra-small) {
        margin-bottom: 15px;
    }
}

