.mobile-menu-tabs{
    display: flex;
}

.mobile-menu-tabs__item{
    width:50%;
    text-align: center;
}

.mobile-menu-tabs__link{
    display: block;
    text-align: center;
    width:100%;
    color: #fff;
    font-weight:bold;
    font-size:16px;
    text-transform: uppercase;
    padding-top:17px;
    padding-bottom:17px;
}

.mobile-menu-tabs__item--active{
    background-color: $gray;
}